<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Blip Afbeelding Ontvanger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  </head>

  <body>
    <main id="app">
      <h3>Blip Afbeelding Ontvanger</h3>

      <!-- Intro -->
      <div v-if="state === CHIRP_SDK_STATE.NOT_CREATED" class="content">
        <p>
          Blip Afbeelding Ontvanger gebruikt de microfoon van je computer om
          afbeeldingen te ontvangen.
        </p>
        <img src="https://public.chirp.io/images/logos/devices.png" />
        <p>
          Klik "Start" om te beginnen. Om afbeeldingen te ontvangen moet je
          eerst toestemming geven voor het gebruiken van je microfoon.
        </p>
        <button v-on:click="startSdk">START</button>
      </div>
      <!-- END Intro -->

      <!-- Messenger -->
      <div v-if="state !== CHIRP_SDK_STATE.NOT_CREATED" class="content">
        <p>
          Speel nu de blip af.
        </p>
        <div class="spinner" v-if="state === CHIRP_SDK_STATE.RECEIVING"></div>
        <canvas width="160" height="160" class="imgCanvas"></canvas>
      </div>
      <!-- END Messenger -->

      <p class="footer">
        Gemaakt door @ramon met hulp van <a href="https://chirp.io">Chirp</a>.
      </p>
    </main>

    <script src="https://public.chirp.io/wasm/3.2.0/chirpSdk.js"></script>
    <script defer src="decoder.js"></script>
    <script defer src="index.js"></script>
  </body>
</html>
